/* **************************TAG SELECTORS************************** */
body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    /* font-size: 2em; */
}

/* div {
    
} */

h1 {
    /* display: block;*/
    font-size: 6rem;
    /* 16px = 100% = 1em */
    /*margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; */
    /* margin-top: 50px; */
    margin: 50px auto 0 auto;
    /* width: 10%; */
    /* margin: 0 auto 0 auto; */
    /* margin: 0 auto; */
    font-family: 'Sacramento', cursive;
    color: #369b9b;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #369b9b;
    padding-bottom: 10px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    /* font-size: 1.5rem; */
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #49d3d3;
}

hr {
    border-style: dotted;
    border-width: 0.5rem 0 0 0 ;
    border-color: #EAF6F6;
    width: 5%;
    margin: 100px auto 100px auto;

}

p {
    color: #40514E;
    line-height: 2;
}

/* **************************SELECTORS************************** */
.top-container {
    background-color: #EAF6F6;
    /* height: 200px;
    width: 200px; */
    /* border: solid 10px; */
    /* padding: 20px; */
    position: relative;
    padding-top: 100px;
}

.middle-container {
    /* background-color:red;
    height: 200px;
    width: 200px; */
    /* position: relative;
    left: 260px; */
    /* margin-left: 260px;
    border: solid 20px; */
    margin: 100px 0 100px 0;
}

.bottom-container {
    background-color:#EAF6F6;
    /* height: 200px;
    width: 200px; */
    /* position: relative;
    left: 500px; */
    margin-top: 50px;
    padding: 50px 0 20px 0;
    /* border: solid 10px; */
    
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.my-img {
    border-radius: 50%;
}

.intro {
    width: 50%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.skill-1-img {
    width: 25%;
    /*relative to its parent*/
    float: left;
    margin-right: 30px;
    /* margin-bottom: 30px; */
}

.skill-2-img {
    width: 25%;
    /*relative to its parent*/
    float: right;
    margin-left: 30px;
    /* margin-bottom: 30px; */
}

.skill-3-img {
    width: 25%;
    /*relative to its parent*/
    float: left;
    margin-right: 30px;
    /* margin-bottom: 30px; */
}

/* .skill-1-desc {
    clear: left;
}

.skill-2-desc {
    clear: right;
}

.skill-3-desc {
    clear: left;
} */


.pro {
    text-decoration: underline;
}

.contact-message {
    width: 50%;
    margin: 40px auto 60px auto;
}

.footer-link {
    color: #11999E;
}

.copyright {
    color:#758a86;
    font-size: 0.75rem; 
    padding: 20px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }